<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'App/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <header>

      <nav class="#a1887f brown lighten-2">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo center">READ IT</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'App:index' %}"><i class="material-icons left">library_books</i>Libros</a></li>
            <li><a href="{% url 'App:indexA' %}"><i class="material-icons right">perm_identity</i>Autores</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="#e0e0e0 grey lighten-2">
      <div class="row">
           <div class="col s7 offset-s2 center">
      <h5>Titulo: {{libro.Nombre}}</h5>
      <h5>Genero:  {{libro.Genero}}</h5>
      <h5>Sipnopsis:</h5>
      <p class="bio">{{libro.Descripcion}}</p>
      <ul>                      <!---autores = nombre de la clase con a minuscula !-->
          {% for autor in libro.autores_set.all %}
              <li><b>Autor:</b> {{autor.Nombre}} </li>
              <li><b>Nacionalidad:</b> {{autor.Nacionalidad}}</li>
              <li><b>Libros:</b> {{autor.libros}}</li>
              <!---autor = nombre del objeto creado en shell nombre de la variable del for!-->
              <li><p class="bio"><b>Biografia:</b> {{autor.Descripcion}}</p></li>
          {% endfor %}
      </ul>
      <img src="{{libro.Portada}}">
    </div>

</main>

<footer class="#d7ccc8 brown lighten-4">
          <footer class="page-footer #757575 grey darken-1">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Sánchez Bravo Fernando</h5>
                  <p class="grey-text text-lighten-4">INGENIERIA EN DESARROLLO DE SOFTWARE.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">06-IDVA</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Modelado y Arquitectura de software</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2016 MAKE IT EASY
              <a class="grey-text text-lighten-4 right" href="#!">Proyecto Unidad 2</a>
              </div>
            </div>
          </footer>
</footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
 </body>
</html>
